* {
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    background-color: #c7f9cc;
}
h1 {
    background-color: #22577a;
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    /* opacity: 0.75; */
    cursor: pointer;
    /* background-color: #38a3a5; */
    background: linear-gradient(#5fced0, #44d065);

}

img {
    height: 150px;
    width: 150px;
    object-fit: cover; /*img distort nhi hoti*/
    border-radius: 50%;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 4rem;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    font-size: 2rem;
    margin-top: 2.5rem;
}

#user-score, #comp-score, #draw-score {
    font-size: 4rem;
}
.msg-container {
    padding: 1rem;
    margin-top: 3rem;
    border-radius: 1rem;
}
#msg {
    background-color: #22577a;
    color: #fff;
    font-size: 1.5rem;
    margin-top: 4rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
    transition: all 0.15s ease-in-out 0.15s;
}
#msg:hover {
    padding: 1.2rem;
    font-size: 2rem;
    background-color: #0077b6;
    color: #80ed99;
}